.custom-pagination {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(20, 20, 20, 0.2);
    opacity: 1;
    margin: 0 4px;
  }

  .swiper-pagination-bullet-active {
    background-color: #576f35;
  }
}