@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-tight-v8-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter-tight-v8-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/inter-tight-v8-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-tight-v8-latin-700.woff2') format('woff2');
}

:root {
  --font-family: "Inter Tight", sans-serif;
  --background-color: #576f35;
  --font-size: 14px;
  --line-height: 1.5;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}