@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-display: swap;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-tight-v8-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/inter-tight-v8-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/inter-tight-v8-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-tight-v8-latin-700.woff2') format('woff2');
}

:root {
  --font-family: "Inter Tight", sans-serif;
  --background-color: #576f35;
  --font-size: 14px;
  --line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  height: 100%;
}